body{
    background-image: linear-gradient(to right, red , yellow);

}

h1{
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    width: 10x;
    height: auto;
    margin-left: 400px;
    margin-right: 400px;
    font-family: sans-serif;


}

section{
    text-align: center;
}